
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 style="padding-top:30px; text-align:center">
    Contacts <a href="@Url.Action("Manage", "People")"
                data-toggle="tooltip" data-placement="right" title="" data-original-title="Add Contact">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
    </a>
</h2>
<div class="container-fluid row">
    <div class="container-fluid col-md-6" id="googleMaps">
        <div id="floating-panel">
            <input id="address" type="text" value="Type a location to begin">
            <input id="submit" type="button" value="Search">
        </div>
        <div id="map"></div>
    </div> <!--googleMaps-->
    <div class="container-fluid col-md-6" style="padding-top:20px">
        <div ng-controller="peopleController as peopleCtrl" class="col-md-6">
            <table class="table table-striped table-hover table-bordered">
                <thead class="thead-inverse">
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Favorite</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in peopleCtrl.items track by item.id">
                        <td>{{item.id}}</td>
                        <td>{{item.firstName}}</td>
                        <td>{{item.lastName}}</td>
                        <td>{{item.email}}</td>
                        <!--If favorites is true, show the heart icon-->
                        <td ng-show="item.favorite"><i class="fa fa-heart" aria-hidden="true"></i></td>
                        <!--if not true, we still want to enter an empty table row so that the table values do no shift and ruin the table structure.-->
                        <td ng-show="item.favorite==false"></td>
                        <td>
                            <button type="button" class="btn btn-primary" ng-click="peopleCtrl.edit(item)">Edit</button>
                            <button type="button" class="btn btn-danger" ng-click="peopleCtrl.delete(item)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        (function () {
            angular.module("myWebApp")
                .factory('$peopleService', PeopleService)

            PeopleService.$inject = ['$http'];

            function PeopleService($http) {
                return {
                    getPeople: _getPeople,
                };

                function _getPeople() {
                    console.log("getting people...");
                    return $http.get('/api/people')
                        .then(onSuccessGetPeople)
                        .catch(onError);
                }

                function onSuccessGetPeople(response) {
                    console.log("In onSuccessGetPeople");
                    return response.data;
                }

                function onError() {
                    console.log("In PeopleService.onError");
                }
            }
        })();
    </script>
    <script type="text/javascript">

        (function () {
            angular.module('myWebApp')
                .controller("peopleController", PeopleController)
            PeopleController.$inject = ['$scope', '$peopleService'];

            function PeopleController($scope, $peopleService) {
                var vm = this;
                vm.$scope = $scope;
                vm.$peopleService = $peopleService;

                vm.items = null;
                vm.getPeople = _getPeople;
                vm.edit = _edit;

                render();

                function render() {
                    console.log("rendering...")
                    return vm.getPeople()
                        .then(onCompleteGetPeople);
                }

                function _getPeople() {
                    return $peopleService.getPeople()
                        .then(fillAddressTable);
                }

                function fillAddressTable(data) {
                    console.log("In fillAddressTable success. data:", data);
                    vm.items = data;
                }

                function onCompleteGetPeople() {
                    console.log("on complete get people");
                }

                function _edit(item) {
                    var id = item.id;
                    window.location.href = "/people/edit/" + id;
                }
            }
        })();
    </script>

    <script>
        // Note: This requires that you consent to location sharing when
        // prompted by your browser. If you see the error "The Geolocation service
        // failed.", it means you probably did not give permission for the browser to
        // locate you.
        var map, infoWindow;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: -34.397, lng: 150.644 },
                zoom: 10
            });
            infoWindow = new google.maps.InfoWindow;

            var geocoder = new google.maps.Geocoder();

            document.getElementById('submit').addEventListener('click', function () {
                geocodeAddress(geocoder, map);
            });

            function geocodeAddress(geocoder, resultsMap) {
                var address = document.getElementById('address').value;
                geocoder.geocode({ 'address': address }, function (results, status) {
                    if (status === 'OK') {
                        resultsMap.setCenter(results[0].geometry.location);
                        var marker = new google.maps.Marker({
                            map: resultsMap,
                            position: results[0].geometry.location
                        });
                    } else {
                        alert('Geocode was not successful for the following reason: ' + status);
                    }
                }); //geocodeAddress
            }

            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    infoWindow.setPosition(pos);
                    infoWindow.setContent('Current location.');
                    infoWindow.open(map);
                    map.setCenter(pos);
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
        } //handleLocationError
    </script>
    <!--For now, the api key is present in the view. Will move the key to the web config and move value to the view with a view model for security reasons.-->
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41_pGD5wqIonTWfTHXEK67fCpmZCs9N8&callback=initMap"
            type="text/javascript">
    </script>

}